
.asdd{
    margin-right: 15px;
    font-size: 25px;
}

.asda{
    margin-left: 15px;
    font-size: 25px;
}

.asdp{
    font-size: 25px;
}

.aaaa{
    font-size: 15px;
}

/* .botonmasmenos {
  cursor: pointer;
  color: FE980F;
  border-color: FE980F;
  background-color: transparent;
} */
