.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mensajes {
  color: white;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 24px;
  height: 280px;
  width: 400px;
  background-color: #ff4157;
}
